body{
margin:0;
font-family:Arial;
}

.container{
display:flex;
height:100vh;
}

.left-panel{
flex:1;
background:#e53935;
color:white;
padding:80px;
}

.logo{
font-weight:bold;
letter-spacing:5px;
}

.hero-text{
margin-top:200px;
}

.hero-text h1{
font-size:70px;
}

.right-panel{
flex:1;
background:#eeeeee;
display:flex;
align-items:center;
justify-content:center;
}

.login-card{
background:white;
padding:50px;
border-radius:12px;
width:400px;
text-align:center;
}

.login-btn{
width:100%;
padding:15px;
border-radius:30px;
margin:10px 0;
border:none;
cursor:pointer;
}

.primary{
background:#e53935;
color:white;
}

.facebook{
background:#ddd;
}

.google{
background:#ddd;
}