<!DOCTYPE html>
<html>

<head>
<title>SafeHer Signup</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="card">

<h2>Create Account</h2>

<form method="POST">

<input name="name" placeholder="Full Name" required>

<input name="phone" placeholder="Phone Number">

<input name="email" placeholder="Email">

<input type="password" name="password" placeholder="Password">

<input name="contact1" placeholder="Emergency Contact 1">

<input name="contact2" placeholder="Emergency Contact 2">

<button>Create Account</button>

</form>

</div>

</body>

</html>
